* {
    box-sizing: border-box;
}

/* common */ 

html {
    height: 100%;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: khaki; */
    font-family: 'Roboto';
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 68%;
    height: 100%;
    margin: 0 auto;
}

.blue {
    color: rgb(29, 161, 242);
}

.heading {
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
}

.basic {
    font-size: 1rem;
    font-weight: bold;
}

.grey {
    color: rgb(101, 119, 134);
}

.blue-button {
    background-color: rgb(29, 161, 242);
    border: 1px solid rgb(29, 161, 242);
    color: white;
    border-radius: 25px;
}

.small-type {
    font-size: 1rem;
    color: rgb(101, 119, 134);
}

button:focus {
    outline: none;
}

/* navigation panel */

.lcol {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav img {
    width: 35px;
    height: 32px;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 5px;
}

nav div span {
    margin-left: 15px;
}

nav button {
    width: 80%;
    margin-top: 10px;
    padding: 15px 0;
}

.account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    margin: 15px;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userpic {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* main content */

main {
    width: 78%;
    display: flex;
    flex-direction: column;
}

/* header */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.head {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(231, 231, 240);
}

.head, .main {
    border-right: 1px solid rgb(231, 231, 240);
    border-left: 1px solid rgb(231, 231, 240);
}

/* central area */

.content {
    display: flex;
    flex-direction: row;
}

.main {
    width: 60%;
    /* background-color: lightpink; */
}

.options {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 10%;
    width: 400px;
    /* background-color: lightgoldenrodyellow; */
}

.options svg {
    /* background-color: lightgrey; */
    margin: 5px;
}

.make-tweet {
    padding: 10px;
    width: 100%;
    /* background-color: oldlace; */
}

.field-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.field-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    /* background-color: orange; */
}

.field-bottom button {
    padding: 10px 15px;
}

textarea {
    width: 100%;
    font-size: 1.2rem;
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
}

.borderline {
    height: 10px;
    width: 100%;
    background-color: rgb(231, 231, 240);
}

/* search-bar */

.search {
    width: 40%;
    padding-left: 30px;
    padding-top: 5px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: gold;
    border-radius: 25px;
    width: 100%;
    background-color: rgb(230, 236, 240);
}

.search-bar input {
    width: 80%;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.search-bar input:focus {
    outline: none;
}

.cancel {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(29, 161, 242);
    display: flex;  
    justify-content: center;
    align-items: center;
    visibility: hidden; /* should be removed when event is fired */
}

.search-bar input, .loupe, .cancel {
    margin: 0 5px;
}

/* welcome area */

.welcome {
    padding: 39px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.welcome p {
    text-align: center;
}

.welcome button {
    padding: 10px 15px;
}

/* right column */

.rcol {
    width: 40%;
    padding-left: 30px;
}

.topics, .people {
    background-color: rgb(245, 248, 250);
    border-radius: 20px;
}

.topics {
    margin-bottom: 15px;
}

.title, .item, .rec {
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(231, 231, 240);
}

.title {
    align-items: center;
    justify-content: space-between;
}

.item {
    justify-content: space-between;
}

.item svg {
    align-self: flex-start;
}

.captions {
    display: flex;
    flex-direction: column;
}

.captions span {
    margin: 3px 0;
}

.more {
    padding: 20px 10px;
    font-size: 1.1rem;
}

.rec {
    justify-content: space-between;
    align-items: center;
}

.rec button {
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid rgb(29, 161, 242);
    border-radius: 25px;
}

/* footer section */

footer {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a, footer span, footer div {
    margin: 3px 3px 3px 0;
}