:root {
    font-size: 14px;
    word-break: break-all;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* left side */

.left {
    width: 50%;
    background-color: rgb(113, 201, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.left img {
    height: 950px;
}

.actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    z-index: 2;
    flex-shrink: 2;
    max-width: 380px;
    min-width: 0px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    flex-basis: auto;
    max-width: 380px;
    min-width: 0px;
}

.item h3 {
    word-break: break-word;
}


.icon {
    padding-right: 15px;
}

/* right side */

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    z-index: 3;
}

header {
    width: 50%;
    position: absolute;
    top: 15px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.credentials {
    display: flex;
    flex-direction: row;
}

.r {
    display: flex;
    flex-direction: column;
    flex-basis: content;
}

.field {
    max-height: 59px;
    flex-basis: initial;
    background-color: rgba(233, 240, 241, 0.6);
    color: rgb(101, 119, 134);
    border-bottom: 2px solid rgb(118, 118, 118);
    margin-right: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.field span {
    padding: 5px 8px 8px;
}

.field input {
    font-size: 1.27rem;
    padding: 0 8px;
    margin: 4px 0 4px 0;
    border: none;
    background-color: transparent;
}

.field input:focus {
    outline: none;
}

.password-reset {
    margin: 7px 0 0 10px;
    color: rgb(29, 161, 242);
    font-size: 0.9rem;
}

#submit {
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
}

.white-button {
    color: rgb(29, 161, 242);
    border: 1px solid rgb(29, 161, 242);
    background-color: white;
}

/* central section */

main {
    align-self: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: auto;
    max-width: 360px;
}

.main-content img {
    width: 35px;
    height: 32px;
}

.main-content h1 {
    font-size: 2.2rem;
}

.main-content span {
    font-weight: bold;
    margin: 50px 0 20px 0;
}

.main-content button {
    width: 100%;
    margin-bottom: 10px;
}

.blue-button {
    color: white;
    border: 1px solid white;
    background-color: rgb(29, 161, 242);
}


/* footer */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: white;
    z-index: 4;
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav {
    padding: 10px 15px;
}

nav a, nav span {
    text-decoration: none;
    color: rgb(101, 119, 134);
    padding: 0 5px;
}


@media only screen and (max-width: 1180px) {
    header {
        display: none;
    }
}